@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/* .... Start Body Section .... */
body {
  background-color: black !important;
  font-family: 'Mona Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* .... End Body Section .... */
/* .... Start Navbar Section .... */
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}


/* Contact Section */
.formContact {
  /* background-color: linear-gradient(--light-grey; ) max-width: 500px;
  width: 100%;
  padding: 30px; */
}

/* .... End Navbar Section .... */

/* Hex colours */

.bg-grey {
  background-color: #404146; 
} 

.bg-gold {
  background-color: #C0AC7A; 
} 


.bg-light-grey {
  background-color: #BFC3C6; 
} 

/* .... Start Footer Section .... */
footer {
  margin-top: 100px;
}

/* .... End Footer Section .... */
